html {
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'Dosis', sans-serif;
  }

  *, *::before, *::after {
  	box-sizing: inherit;
}

.navbox h1 {
  text-align: center;
  color: 4a1f00;
}

.navbox a {
  display: inline-block;
  background-color: #9a816d;
  border: 1px solid #795638;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: .7em 9em
}

ul {
  list-style-type: none;
}

a:hover {
  background-color: 795437
}
