html {
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Dosis", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbox h1 {
  text-align: center;
  color: #5a1e04;
}

.navbox body {
  margin-right: -3em;
}

.navbox a {
  display: block;
  background-color: #9a816d;
  border: 1px solid #795638;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.7em 8em;
}

ul {
  list-style-type: none;
  margin-right: 2em;

}

.navbox a:hover {
  background-color: #795437;
}
